<p class="email-greeting"><%= t(".greeting", name: @valuator_user.name) %></p>

<p class="email-instructions"><%= t(".email_body", admin_name: @admin.name) %></p>

<p class="email-instructions">
  <% @proposals.each do |proposal| %>
    <%= sanitize link_to(t(".proposal_url", num: (@proposals.index(proposal) + 1).to_s),
                         Decidim::ResourceLocatorPresenter.new(proposal).url), tags: ["a"], attributes: ["href"] %><br>
  <% end %>
</p>

<p class="email-closing"><%= t(".gratitude") %></p>
